@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4267B2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}
.game-over{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    margin: auto;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.scrambled-letters {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.hint, .time-left {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
}
.btn-custom {
    width: 48%;
}
.form-group {
    margin-bottom: 20px;
}
#startGames{
    display: block;
}
.gamesTable{
    margin: auto;
}
